header{
 	height:3.125em;
 	background:#118BC0;

 }

body { 
	font-family:arial;
 }

h1 {
	margin-bottom: 2em;
    margin: 2.67em 0;
}
 
 h2 {
 	margin-top:-1.5em;
 	margin-bottom: 2.37em;
 }

h3 {
    margin-top: -3em;
}

h4 {
    line-height: 1em;
    margin: -3em -2em;
}
.top {
	height:556px;
	background:#344051;
}

.create {
	color:white;
	margin: 0 auto;
}

.jumbotron {
 	background:#344051;
 	height: 60em;
 	padding:5em;
 	color:white;
 	text-align:center;
 }

 .button {
    background: #1E8CBE;
    color: white;
    text-decoration: none;
    height: 3.1875em;
    width: 13em;
    border: 0.6875em solid #212934;
    margin: 0 auto;
    margin-top: 5em;
}

 .smallwhitebox {
    height: 21px;
    width: 53px;
    background: white;
    margin: auto;
    margin-top: 13em;
    margin-bottom: 7em;
}

  
 .largewhitebox {
 	height:35px;
 	width:152px;
 	background:white;
     margin: auto;
    margin-top: 1em;
} 


.whitebox {
    height: 4.25em;
    margin: 1.75em -2em;
    background: white;
}

 /*Section 2 */


.container2 {
    height: 13.6875em;
    background: #E8F0F5;
}

.bgbox {
    height: 144px;
    padding: 2em;
    background: white;
    border: 2em solid #D1D3D7;
    border-right-width: .75em;
    border-left-width: .75em;
    margin-top: -2em;
}
 
 .lightbackground {
 	background:#E3EBF0;
 	padding-top:10em;
 	padding-bottom: 2em;
 	margin-bottom: 2em;
 }

 .square {
 	height:3em;
 	width:12em;
 	background:#2F79AD;
 	margin:auto;
 }

 footer{
 	background:black;
 	height:10em;
 	margin-top: -1em;

 }

 .whitesquare {
 	height:3em;
 	width:12em;
 	background:#2F79AD;
 	margin:auto;
 }

 span a {
    margin-left: 2em;
    line-height: 5em;
    text-decoration: none;
    color: white;
    font-size:12px;
}

span {
    text-align: center;
    margin-left: -1em;
}

.footmenu li {
	text-decoration:none;
	display:inline;
	color:white;

}

a {
    color: white;
    text-decoration: none;
    padding: .50em;
    margin-left: 0em;
    line-height: 5em;
}

ul.footmenu {
    margin: -32px 7px;
    text-align: center;
}

.square1 {
    height: 2em;
    width: 12em;
    background: white;
    margin: 0 auto;
    margin-top: 1em;
}